{% extends 'travel/layout.html' %} 

{% load static %} 

{% block body %}
    <div style="margin: 6rem; margin-top: 2rem;" class="forms">

    
        <h1 style="color: white">About</h1>
        <p style="font-size: 1.2rem; color:white">
            With Airnexus, You can select your desired destination from any location as well as the departure/arrival time, then see and compare the flight prices to your selected destination. From the listed flights, you can see many information such as the airline, type of airplane, exact departure and arrival times, price of the flight etc. We wanted to show all flight options in one place, creating a simple alternative to the confusing sites that make travel feel like hard work.
        </p>
    </div>
{% endblock %}