{% extends 'travel/layout.html' %} 

{% load static %} 

{% block body %}
    <div style="margin: 6rem; margin-top: 2rem;" class="forms">

    
        <h1 style="color: white">About</h1>
        <p style="font-size: 1.2rem; color:white">
            At Airnexus, our goal is to simplify your travel planning experience. With our user-friendly platform, you can effortlessly choose your preferred destination, departure, and arrival times from any location. Our comprehensive search results provide a wealth of information, including airline, aircraft type, precise departure and arrival times, and flight prices, allowing you to compare options with ease.

        </p>
        <p style="font-size: 1.2rem; color:white">We understand that navigating through multiple travel websites can be overwhelming and time-consuming. That's why we've designed Airnexus to be your one-stop solution, displaying all available flight options in a single, organized interface. Experience the convenience of streamlined travel planning with Airnexus today.</p>
    </div>
{% endblock %}