{% extends "travel/layout.html" %}

{% load static %}



{% block body %} 



    <div>
        <h1 id="header">Your Journey Starts Here</h1>
    </div>
    
    <div class="forms">

        
        <form class="search-type">
            <div class="radio-div col-lg-1.2">
                <input class="option" type="radio" checked="checked" id="roundtrip" name="search-type" value="Roundtrip">
                <label for="roundtrip" class="label1">Roundtrip</label><br>
            </div>
            <div class="radio-div col-lg-1.2">
                <input  class="option" type="radio" id="one-way" name="search-type" value="One Way">
                <label for="one-way" class="label1">One Way</label><br>
            </div>
        </form>
        
            
        
        <form id="search-form"  autocomplete="off" action="/air" method="post">


            <div class="form-bty">
                
                <div class="bro col-lg-3.6">
                    <label for="from" class="label">From</label>
                    <div class="input-wrapper">
                        <input class="opt" id="from" placeholder="Country, city or airport" name="origin" required>
                        <span id="from-loader" class="loader hidden"></span>
                    </div>
                    <input style="display: none;" type="hidden" id="from-value">
                    <p style="display: none;" id="from-desc"></p>
                </div>
                
                <div class="bro col-lg-3.6">
                    <label for="to" class="label">To</label>
                    <div class="input-wrapper">
                        <input class="opt" id="to" placeholder="Country, city or airport" name="destination" required>
                        <span id="to-loader" class="loader hidden"></span>
                    </div>
                    <input style="display: none;" type="hidden" id="to-value">
                    <p style="display: none;" id="to-desc"></p>
                </div>
                



                <div class="bro col-lg-2.4">
                    <label for="departure" class="label">Depart</label>
                    <div class="datepicker" id="depart-datepicker">
                        <input type="text" class="opt" id="departure" name="depart" required placeholder="Select Date">
                    </div>
                </div>
                
                <div class="bro col-lg-2.4">
                    <label for="return" class="label" id="return-text">Return</label>
                    <div class="datepicker" id="return-datepicker">
                        <input type="text" class="opt" id="return" name="return" required placeholder="Select Date">
                    </div>
                </div>


                
            </div>
            
            

            <div class="form-bty">
                <div class="search" style="display: flex;">
                    <input type="submit" id="flights-btn" value="List Flights"></input>
                </div>
            </div>

        </form>

     
    </div>


    

{% endblock %}