{% extends "travel/layout.html" %}

{% load static %}

{% block body %} 
<div class="forms profile">

    <div style="display: flex;  flex-direction: column; align-items: center;">
        <h1>Username</h1>
        <p style="font-size: 1.6rem;">{{ profile_name }}</p>
    </div>

    <div style="display: flex;  flex-direction: column; align-items: center;">
        <h1 style="margin-top: 1rem;">Email</h1>
        {% if email %} 
            <p style="font-size: 1.6rem;">{{ profile_email }}</p>
        {% else %}
            <form action="/profile" method="POST" style="display: flex;  flex-direction: column; align-items: center;">
                <label for="email" style="font-size: 1.12rem;">Save Email</label>    
                <input id="email" name="email" style="margin: 0.5rem;">
                <input type="submit" id="save" name="save" style="padding: 0; margin: 1rem;"; value="Save";>
            </form>
        {% endif %}    
    </div>




    
</div>
{% endblock %} 