* ,::after, ::before {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


@media (max-width: 768px) {
    #name-btn-div, #login-btn-div {
        margin-left: auto; /* Align dropdown to the right */
        margin-right: -1.5rem; /* Add some right margin for spacing */
    }

}


.ul-div {
    display: flex;
    align-items: baseline;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.96rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0;


}

.ul-div > li > a > button {
    background-color: #dddde6;
    cursor: pointer;
    color: #084eb6;
    border-radius: 0.6rem;
}




.ul-div > li > a > button:hover {
    background-color: #cdcdd7;
}



#profile, #profile1{
    color: #084eb6;
    background-color: #dddde6;
    border: none;
    border-radius: 0.6rem;
}




#header {
    font-family: 'Cardo'; 
    color: rgb(255, 255, 255); 
    font-size: 3rem; 
    margin-top: -6rem; 
    margin-bottom: 0;
}


/* Mobile-specific styles */
@media (max-width: 767px) {
    #header {
        font-family: 'Cardo'; 
        color: rgb(255, 255, 255); 
        font-size: 1.8rem; 
        margin-top: -4rem; 
        margin-bottom: 0;
    }
}




#profile:hover {
    background-color: #cdcdd7;
}

label {
    font-size: 0.96rem;
    color: hwb(0 100% 0%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, textarea, select {
    outline: none;
}

li {
    list-style: none;
}

#home-btn-div {
    margin-left: auto;
    margin-right: 2rem;
}

#about-btn-div {
    margin-right: 2rem;
}





.base {
    background-image: url('plane.jpg');
    background-color: rgb(184, 213, 243);

    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    min-height: calc(100vh -  76.139px);

    align-items: center;

}





#from {
    border-left: solid white !important;
    border-top-left-radius: 0.3rem !important;
    border-bottom-left-radius: 0.3rem !important;
    border-right: none !important;
}

#from::placeholder {
    border-top-left-radius: 0.3rem !important;
    border-bottom-left-radius: 0.3rem !important;
    border-right: none !important;
}

.autocomplete-list {
    position: absolute !important;
    list-style: none !important;
    margin: 0 !important;
    margin-right: 1rem !important;
    padding: 0 !important;
    width: 12rem !important;
    background-color: white !important;
    max-height: 200px !important;
    overflow-y: auto !important;
}

.autocomplete-list li {
    color: black !important;
    padding: 1rem !important;
    width: 3rem !important;  /* You might want to check this width, as it seems very narrow */
    font-size: 0.9rem !important;
    cursor: pointer !important;
}

.ui-autocomplete {
    position: absolute !important;
    list-style: none !important;
    margin: 0 !important;
    margin-right: 1rem !important;
    padding: 0 !important;
    background-color: white !important;
    border-bottom-left-radius: 0.3rem !important; /* Adds rounded corners */
    border-bottom-right-radius: 0.3rem !important;
    border-top-left-radius: 0px !important;
    max-height: 50rem !important;
    overflow-y: auto !important;
    z-index: 1000; /* Ensuring it's above other content */
}

.ui-autocomplete li {

    color: black !important;
    padding: 0.5rem !important;
    font-size: 1rem !important;
    cursor: pointer !important;
    white-space: nowrap;
}


.ui-autocomplete a {
    text-decoration: none !important;
    color: black !important;
    background-color: white !important;
}


.ui-menu-item:hover,.ui-menu-item:hover a, .ui-menu-item:hover li, .ui-menu-item.ui-state-focus {
    border: 1px solid #b3b3b3; /* Slightly darker border to maintain visibility */
}


#to {
    border-right: none;
    border-left: rgb(0,0,0) solid 0.001rem;
}

#departure {
    border-right: none;
}
#return {
    border-right: none;
}

.datepicker {
    border: none; /* Remove borders from both the div and the input */
    border-radius: 0;
    box-shadow: none; /* Remove any shadows if present */


}

.datepicker input {
    border: none; /* Remove borders from both the div and the input */
    border-radius: 0;
    box-shadow: none; /* Remove any shadows if present */
}

#return-datepicker {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    margin-left: 0.05rem;

}

#depart-datepicker {
    margin-left: 0.05rem;

}


#return-datepicker input {
    padding-left: 0.9rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;

}

#depart-datepicker input {
    padding-left: 0.9rem;
}






.search {
    align-self: flex-end;
    margin-top: 0.8rem;
}

.opt {
    border: none; /* Ensures that the 'opt' class inputs also have no borders */
    border-radius: 0;
}

.opt {
    cursor: pointer;
    padding-left: 0.9rem;
    width: 100%;
    min-height: 3rem;
    border-color: #000000;
    border-width: 0.1rem;
}



#flights-btn, #save {
    width: 9rem;
    min-height: 2.4rem;
    border-radius: 0.3rem;
    background-color: rgb(48, 48, 244);
    cursor: pointer;
    color: white;
    border-color:  rgb(48, 48, 244);
}

#flights-btn:hover, #save:hover {

    background-color: rgb(52, 52, 195);
    border: rgb(52, 52, 195) solid;

}

#register-form, #login-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#register, #login {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family:  cursive;
}






.form {
    margin-bottom: 2rem;
    width: 100%;
}

.form-input {
    padding-left: 0.6rem;
    width: 20rem;
    min-height: 2.4rem;
    border-radius: 0.3rem;
    border: none;
}


#already {
    text-align: center;
    margin-top: 1rem;
    color: white;
}


.register-btn {
    width: 20rem;
    min-height: 2.4rem;
    color: white;
    background-color: #3a91ed;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
}


.register-btn:hover {
    background-color: rgb(23, 169, 241);
}

#title:hover, #title:visited, #title:link, #title:active
{
    text-decoration: none;
    color: #007bff;
}

#login, #register {
    text-align: center;
    color: #3a91ed
}

.already {

    color: white;
    margin-top: 1rem;
    text-align: center;
}

.already > a {

    color: #3a91ed;
}


.search-type {
    display: flex;
    margin-bottom: 0.6rem;
}

.radio-div > label {
    margin-bottom: 0;
    cursor: pointer;
}

.option {

    margin-right: 0.2rem;
    width: 1.5rem;
    min-height: 1.5rem;
    color: #007bff;
    border: 6px solid rgb(33, 28, 28);
    cursor: pointer;
}

.radio-div {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}


#one-way {
    margin-left: 1rem;
}


.label1{
    font-size: 1rem;

}

#bty {
    min-height: 3rem;
    border-radius: 0;
    border-color: #000000;
    border-width: 0.1rem;
    border-right: solid white;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#btys {
    min-height: 3rem;
    border-radius: 0;
    border-color: #000000;
    border-width: 0.1rem;
}

.show {
    display: block;
}



.flight {
    border: solid black;
    min-height: 12rem;
    min-width: 42vw;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.69);
    margin-bottom: 1rem;
}

.flight:hover {
    -webkit-box-shadow: 1.2px 10px 28px 11px rgba(0,0,0,0.36);
    -moz-box-shadow: 1.2px 10px 28px 11px rgba(0,0,0,0.36);
    box-shadow: 1.2px 10px 28px 11px rgba(0,0,0,0.36);
}

.flight p {
    font-size: 1.3rem;

}

.mouse h1 {

    color: white;
    font-family: cursive;
    margin: 2rem;
}

.info {
    margin-left: 3rem;
    align-items:center;
    justify-content: center;
}

.forms p {
    color: white;
}

.forms h1 {
    color: #3a91ed;
    font-family: cursive;
}





#detailsButton {
    width: 9rem;
    min-height: 3rem;
    color: white;
    background-color: #007bff;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#detailsButton:hover{
    width: 9rem;
    min-height: 3rem;
    color: white;
    background-color:#085eb6;
    border-radius: 0.6rem;
}







footer {
    background-color:  rgba(14, 15, 44, 0.69);
    margin: 0;
    padding: 0;
    min-height: 6rem;
    display: flex;
    justify-content: center;
}

footer > div {
    width: 100%;
    background-color:  rgba(14, 15, 44, 0.69);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    margin: 0;
    padding: 0;
}

.profile input {
    min-height:  2rem;
    width: 16rem;
    padding-left: 0.5rem;
}


.bookings {
    font-size: 1.6rem;
    color: #1d7ede;;
}


#PleaseWait {
    margin-right: 0.9rem;
}




.cs p {
    font-size: 2rem;

}

.csx p {
    font-size: 1.2rem; margin: 0; text-align: center;
}




.cs2 p {
    font-size: 1.32rem;
}


.cs2x p {
    font-size: 0.9rem; margin: 0; text-align: center;
}




.cs3 p {
    font-size: 1rem;
}

.cs3x p {
    font-size: 0.8rem; margin: 0; text-align: center;
}







.passanger input {
    width: 30rem;
    margin-bottom: 1.2rem;
    min-height: 2.6rem;
    border-radius: 0.3rem;
}


.passanger {
    display: flex;
    flex-direction: column;
}

.passanger-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    padding: 1px;
}



.booking-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Targeting the first option within the select element */
#country option:first-child {
    color: lightgray
}

/* Style the select element when the first option (placeholder) is selected */
#country:not(:focus):invalid {
    color: gray;
}

/* Style the options to be black, so they look normal when the dropdown is open */
#country option {
    color: black;
}

/* Style the date input when it has no value */
input[type="date"]:not(:focus):required:invalid {
    color: grey;
}

/* Style the date input text to be black when the user interacts with it or selects a date */
input[type="date"]:focus,
input[type="date"]:valid {
    color: black;
}

/* Style the datepicker input when it has no value */
input[type="text"].opt:not(:focus):required:invalid {
    color: grey;
}

/* Style the datepicker input text to be black when the user interacts with it or selects a date */
input[type="text"].opt:focus,
input[type="text"].opt:valid {
    color: black;
}





.ui-menu-item:not(:last-child) { /* Adds a border to all but the last item */
    border-bottom: 1px solid #ccc; /* Change color as needed */
}


/* Spinner */

.input-wrapper {
    position: relative;
}

.loader {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}

.hidden {
    display: none;
}





/* Spinner için parenttaki style lar */

.forms {
    display: flex;
    flex-direction: column;
    background-color: rgba(14, 15, 44, 0.69);

    padding: 1.8rem;
    margin-bottom: 3.2rem;

    border-radius: 0.6rem;
}

#search-form {
    display:flex; flex-direction: column; align-items: flex-end;
}

@media (max-width: 767px) {
    .forms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(14, 15, 44, 0.69);
        width: 90%; /* Use a percentage-based width for responsiveness */
        max-width: 22rem; /* Set a maximum width to maintain consistency */
        padding: 1.8rem;
        margin-bottom: 3.2rem;
        border-radius: 0.6rem;
    }

    
    #search-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; /* Ensure the form takes full width of the parent */
    }
    
    .form-bty {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Ensure it takes full width */
    }
    
    .search-type {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem; /* Add some spacing for better layout */
    }
    
    .radio-div {
        margin: 0 1rem; /* Adjust spacing between radio buttons */
    }
    
    .bro {
        width: 100%;
        margin-bottom: 1rem; /* Add spacing between input groups */
    }
    
    .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .opt, .datepicker input {
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
    }
    
    #flights-btn {
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
    }

    .search {
        align-self: center;
    }

    /* bordaki .opt datepickerların radius olmasını sağladı niye bilmiyorum */
    #from, #to, .opt {
        border-radius: 0.3rem !important;
    }

    /* Uçak logosu , important yapmazsano olmuyo neden bilmiyorum*/
    #logo {
        display: none !important;
    }
    
}

#logo {

    margin-right: 0.2rem; transform: rotate(-50deg); display: inline-block;
}

.form-bty {
    display: flex;
    align-items: flex-end;
}

/* Mobile-specific styles */
@media (max-width: 767px) {
    .form-bty {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
}

.bro {
    display: flex;
    flex-direction: column;
}




